body {
    background: #f4f4f4;
    font-size: 16px;
}
.wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*顶部*/
.header {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    background: #f2f2f2;
    box-sizing: border-box;
}

.center {
    width: 12.8rem;
    margin: 0 auto;
}

.footer {
    font-size: 12px;
}

.copyright {
    padding: 12px 0;
    text-align: center;
    color: #666;
    border-top: 1px solid #eee;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex: 1;
}

.homewrap {
    height: 100%;
    display: flex;
}

.articleList {
    flex: 1;
    padding: 0.16rem 0;
}

.tagswrap {
    width: 2.5rem;
    padding: 0.16rem 0 0 0.1rem;
}

@media screen and (max-width: 760px) {
    .tagswrap {
        display: none;
    }
}

.bottomLine > div {
    vertical-align: bottom;
}

.tagbar {
    padding: 0.11rem 0 0;
}

.datetime {
    padding: 0.05rem 0 0;

    & > p {
        display: inline-block;
        margin: 0 0.1rem 0 0;
    }
}

.article p {
    font-size: 18px;
}

.wh {
    width: 30px;
    height: 30px;
}

.mask {
    width: 100%;
    height: 36px;
    position: absolute;
    bottom: 30px;
    z-index: 99;
    background: rgba(244,244,244,0.6);
    display: none;
}

.active {
    display: block !important;
}

.fullMask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,0.4);
    display: none;
    text-align: center;
    & > div {
        margin-top: 20%;
    }
}

.articleWrap {
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 5px;
    padding: 0;
}

.articleItem {
    border-top: 1px solid #ddd;
}